@import "tailwindcss";

.model-card {
  background: var(--pure-white);
  border-radius: 10px;
  padding: 1.5rem;
  border-left: 5px solid var(--accent-gold);
  box-shadow: var(--shadow-soft);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-use-model {
  background: var(--primary-blue);
  color: var(--pure-white);
  margin-top: 1rem;
  border-radius: 6px;
  padding: 0.6rem;
  font-weight: 600;
}