@import "tailwindcss";

@theme {
  --color-primary-blue: #0f172a;
  --color-accent-gold: #fbbf24;
  --color-bg-light: #f8fafc;
  --color-text-main: #1e293b;
}

:root {
  --primary-blue: #0f172a;
  --accent-gold: #fbbf24;
  --bg-light: #f8fafc;
  --text-main: #1e293b;
  --text-muted: #64748b;
  
  color-scheme: light;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-light); 
  color: var(--text-main);           
  -webkit-font-smoothing: antialiased;
}